.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  /* Login and Register Links */
.login-register-links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .login-register-links a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .login-register-links a:hover {
    color: #007bff;
  }
  
  .login-register-links .active-link {
    border-bottom: 2px solid #007bff;
  }
  
  
  .hyhy {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
  }
  
  .input-group input {
    width: 100%;
    padding: 12px 40px 5px 15px;
    font-size: 16px;
    border: 1px solid white;
    border-radius: 5px;
    /* background-color: #f1f1f1; */
    outline: none;
  }
  
  .input-group input:focus {
    /* border-color: #007bff; */
    background-color: #fff;
  }
  
  .input-group i {
    /* left:px; */
    /* margin-right:10px; */
    color: #999;
    font-size: 18px;
  }
  .input-group .fa-eye,
.input-group .fa-eye-slash {
  right: 15px; /* Keep the eye icon on the right */
  position: absolute;
  color: #999;
}
  .underline {
    border-bottom: 1px solid #ccc;
  }
  
  .options {
    margin-top:25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }
  
  .options a {
    text-decoration: none;
    color: #007bff;
  }
  
  .login-btn {
    background-color: #1b7feb;
    color: #f1f1f1;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
  
  .social-login {
    display: flex;
    justify-content: space-around;
  }
  
  .social-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
    border: none;
    cursor: pointer;
  }

  .term {
    text-decoration: none;
    color: #1b7feb;
  }
  
  /* .fb { background-color: #3b5998; }
  .insta { background-color: #E1306C; }
  .pinterest { background-color: #BD081C; }
  .linkedin { background-color: #0077B5; } */
  
  .social-button:hover {
    opacity: 0.8;
  }
  